connect:

<?php
//ini_set('display_errors', 1);
//error_reporting(E_ALL);
date_default_timezone_set('Asia/Jakarta');

// 🔐 START SESSION
if (session_status() === PHP_SESSION_NONE) {
   session_start();
}

// 🔌 DATABASE
$host = "";
$uname = "";
$password = "";
$database = "";
$koneksi = mysqli_connect($host, $uname, $password, $database);

// // 🛡️ HALAMAN YANG TIDAK PERLU LOGIN
 $public_pages = [
    'index.php',
    'auth.php',
    'reset.php',
    'fill-id-pasien-satusehat.php',
    'antrean.php',
    'peserta.php',
    'status.php',
    'sisapeserta.php',
    'batal.php',
    'verifikasi-surat.php',
    'verifikasi-surat-sakit.php',
    'verifikasi-surat-kematian.php',
    'verifikasi-surat-berobat.php',
    'verifikasi-surat-pemeriksaan-mata.php',
    'verifikasi-surat-mata.php',
    'verifikasi-surat-ranap.php',
    'verifikasi-surat-rawatinap.php'
];

 $current_page = basename($_SERVER['PHP_SELF']);

 $is_command_file = strpos($_SERVER['PHP_SELF'], 'controller/command/') !== false;

 // 🚪 CEK SESSION
 if (!in_array($current_page, $public_pages) && !$is_command_file) {

    if (!isset($_SESSION['uid_user'])) {

       // ❗ Destroy session
       session_unset();
       session_destroy();

       // 🔁 Redirect + alert
       echo "<script>
             alert('Session anda telah berakhir, silakan login kembali');
             window.location.href = '/../';
         </script>";
       exit;
    }
 }