/database/*
!/database/connect.php
!/database/connect.example.php
/uploads/**
!/uploads/**/
!/uploads/**/.gitkeep
/uploads/.DS_Store
.DS_Store
/vendor/
.htaccess
/logs/*
!/logs/.gitkeep
.env
models/uncompressed/
models/proto/
.vscode/
